{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title id="page_title"> Baitless | About</title>
		<link rel="stylesheet" type="text/css" href="{% static 'crowdedits/css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'crowdedits/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'crowdedits/css/bootstrap-responsive.css' %}" />
		
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="{% static 'crowdedits/js/jquery.cookie.js' %}"></script>
    	<script src="{% static 'crowdedits/js/jquery.rss.js' %}"></script>
    	<script src="{% static 'crowdedits/js/bootstrap.js' %}"></script>
    

    </head>

    <body>
    	<div class="container-narrow">
    		<P><h3>Baitless</h3></P>
    		<P>
    		Do you ever get annoyed by all those articles these days with clickbait-y headlines? 
    		Headlines that purposefully obscure the actual content of the article.
    		Headlines that use hyperbole and attention-grabbing words and punctuation.
    		Headlines that just straight up lie.
    		Or how about when you click on one of those headlines and feel cheated because it wasn't about what it advertised?
    		Do you ever wish you could just replace them with proper headlines that actually succinctly describe
    		what the article is about so that you can make an informed decision about whether to click on it?
    		</P>
    		<P>
    		We built Baitless as a set of tools that give users the power to fix clickbait titles and make them baitless.
    		Together, by suggesting good replacement headlines and upvoting the best headlines, we can combat 
    		the clickbait that is proliferating. 
    		So far we have built an RSS feed fixer that can take any RSS feed and reproduces it with clickbait headlines replaced by
    		the top suggested headlines from you!
    		We have in store a bookmarklet to make it easier for you to contribute or view Baitless titles whenever reading an article,
    		not just when reading an RSS feed.
    		Finally, we are planning a plugin to replace these titles directly within your browser anywhere you visit.
    		</P>
    		<P>
    			<h4>About Us</h4>
    			This project is made by 
    			<a href="http://amyxz.com">Amy X. Zhang</a>, a Ph.D. student at MIT CSAIL and advised 
    			by <a href="http://people.csail.mit.edu/karger/">David Karger</a>, a professor at MIT CSAIL and director of the 
    			<a href="http://haystack.csail.mit.edu">Haystack Group</a>.
    		</P>
    		<P>
    	
    		</P>
    		
    		
    		
    	</div>
    </body>
    </html>
    