{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title id="page_title"> Baitless </title>
		<link rel="stylesheet" type="text/css" href="{% static 'crowdedits/css/page_style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'crowdedits/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'crowdedits/css/bootstrap-responsive.css' %}" />
	
		
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="{% static 'crowdedits/js/jquery.cookie.js' %}"></script>
    

    </head>

    <body>
    	<div id="header">
    		<table>
    			<tr>
    				
    			<td width="400">
	    		<span class="title"><a href="http://baitless.csail.mit.edu">Baitless</a></span><BR/>
		    	<div class="input-append">
					<input type="text" id="submit-title" class="input-block-level" placeholder="Submit a Baitless title for this page">
					<button class="btn btn-primary" type="submit" id="submit-title-but">Submit</button>
				</div>
    		</td>
    		<td width="500">
    			<span class="txterror" id="spoilheader">{{ header }}</span>
    			<div id="titles">
    				{% for title in crowdtitles %}	
    				 <span id="title{{ forloop.counter0 }}">
    				<span id="crowdtitle{{ forloop.counter0 }}">
    				{{ title.crowdtitle }}
    				</span> &nbsp;&nbsp;
    				<span id="arrows-upm{{ forloop.counter0 }}" class="hidden">
    				{% if title.upvoted == True %}
    					<img class="arrow" src="/static/crowdedits/img/arrow-up-orange.png"></span> &nbsp;&nbsp;
    				{% else %}
	    				<a class="upvote" onClick="upvote(true, '{{ title.escaped_crowdtitle }}','{{ forloop.counter0 }}');">
	    				<img class="arrow" src="/static/crowdedits/img/arrow-up.png"></a></span> &nbsp;&nbsp;
	    			{% endif %}
	    			
	    			<span id="arrows-downm{{ forloop.counter0 }}" class="hidden">
	    			{% if title.downvoted == True %}
	    				<img class="arrow" src="/static/crowdedits/img/arrow-down-orange.png"></span> &nbsp;&nbsp;
	    			{% else %}
	    				<a class="upvote" onClick="upvote(false, '{{ title.escaped_crowdtitle }}','{{ forloop.counter0 }}');">
	    				<img class="arrow" src="/static/crowdedits/img/arrow-down.png"></a></span> &nbsp;&nbsp;
	    			{% endif %}
    				<span id="upvotes{{ forloop.counter0 }}" class="hidden">
    				{{ title.votes }}
    				</span>
    				</span>
    				<BR />
    				{% endfor %}
    			</div>
    		</td>
    		<td>
    			<a href="/">Get your own Baitless Feed</a>
				<BR />
				<a href="/accounts/profile">View your Profile Activity</a>
				<BR />
    			<a href="{{ url }}">Close Baitless banner and go to article</a>
    			
    		</td>
    		</tr>
    		</table>

    		
    	</div>
	    	
		<div>
			<iframe src="{{ url }}" frameborder="0" allowfullscreen>Feed</iframe>
			
		</div>
		<input type="hidden" id="urlinput" value="{{ url }}" readonly>

    </body>
    <script type="text/javascript" src="{% static 'crowdedits/js/feedpage.js' %}"></script>

</html>
